img.icon {
	border-radius: 50%;
	width: 111px;
	height: 111px;
}

p.username-title {
	margin-top: 1rem;
	text-align: left;
}

p.mailaddress-title {
	margin-top: 1rem;
	text-align: left;
}

.flash_message.bg-success {
	margin-top: 45px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.alert.alert-danger {
	margin-top: 40px;
}
